[run]
branch  = True
source  = api
omit    = api/providers/storage*
          api/interfaces/admin/migrations*
          api/providers/configuration*
          api/providers/metrics*
          api/providers/ordering/__init__.py
          venv*
          lib/
          bin/
          lib64/
          include/
